.date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 14px;
  margin-top: 5px;
  color: rgb(118, 118, 136);
  font-size: 12px;
}
.listReviews {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: justify;
}
.cardReview:not(:last-child) {
  margin-bottom: 20px;
}
.cardReview {
  border: 1px solid rgb(179, 179, 184);
  padding: 10px 12px;
  color: rgb(179, 180, 197);
  background-color: rgba(44, 46, 68);
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  font-size: 12px;
  box-shadow: 0 0 60px rgba(64, 156, 218, 0.64);
}
.name {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(213, 217, 221);
  margin-bottom: 5px;
}
.btnUp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  background-color: rgba(44, 46, 68);
  border: 1px solid rgba(48, 139, 199);
  box-shadow: inset 0 0 10px rgba(48, 139, 199, 0.64);
  transition: all 250ms ease-in-out;
}
.btnUp:hover,
.btnUp:focus {
  transform: scale(1.05);
  box-shadow: 2px 2px 20px rgba(48, 139, 199, 0.64);
}
.btnUpBox {
  display: flex;
  justify-content: right;
}
