.header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  letter-spacing: 1.3px;
}

.nav {
  display: flex;
  gap: 20px;
}

.link {
  color: rgb(219, 237, 240);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: orange;
}

.active {
  color: orange;
}
.linkIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  padding: 4px;
  border-radius: 50%;
  border: 1px solid rgba(48, 139, 199);
  box-shadow: 0 0 20px rgba(48, 139, 199, 0.64);
}
.linkIcon:hover,
.linkIcon:focus,
.linkIcon:active {
  background-color: rgb(121, 180, 228, 0.2);
}
