.header {
  /* background-color: rgb(71, 58, 48); */
  width: 100%;
  display: flex;

  align-items: start;
  gap: 12px;
  letter-spacing: 1.3px;
}

.nav {
  display: flex;
  gap: 10px;
}

.link {
  color: rgb(219, 237, 240);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.active {
  color: orange;
}
.linkIcon {
  display: flex;
  /* align-items: flex-end; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 80px;
  height: 80px;
  padding: 4px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(48, 139, 199, 0.64);
}
