.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 30px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.input {
  width: 100%;

  min-height: 54px;
  outline: none;
  padding: 10px 16px;
  font-size: 22px;
  font-weight: 500;
  background-color: inherit;
  border: 2px solid rgb(72, 158, 216);
  color: rgb(202, 209, 226);
  border-radius: 1000px;
  box-shadow: 0 0 60px rgba(64, 156, 218, 0.64);
  letter-spacing: 1.3px;
}
input::placeholder {
  color: rgb(143, 149, 150);
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .form {
    flex-wrap: nowrap;
  }
  .input {
    min-width: 400px;
  }
}
