.list {
  margin-top: 40px;
}

.title {
  color: rgb(190, 203, 206);
}

.boxLink {
  display: flex;
  align-items: center;
  gap: 5px;
  /* color: rgba(152, 177, 243); */
  color: rgb(238, 138, 23);
}
.boxLink:hover {
  text-decoration: underline;
  color: rgb(238, 138, 23);
}
