.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 40px;
}

.title {
  color: rgb(190, 203, 206);
  border-top: none;
  align-content: center;
  text-align: center;
  padding: 5px;
  min-height: 58px;
}

.boxLink {
  border: 1px solid rgb(95, 95, 112);
  background-color: rgba(44, 46, 68);
  display: flex;
  flex-direction: column;
  width: 260px;
  box-shadow: 2px 2px 20px rgba(48, 139, 199, 0.64);
  transition: all 250ms ease-in-out;
  padding: 5px;
}
.boxLink:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 30px rgba(48, 139, 199, 0.64);
}
.poster {
  height: 400px;
}
