body {
  position: relative;
  font-family: 'Nunito', sans-serif;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.6),
      rgba(46, 47, 66, 0.7)
    ),
    url(https://img2.akspic.ru/previews/4/2/7/6/3/136724/136724-film-mozhet_parker-action_adventure_game-betmen-cifrovoj_kompoziting-x750.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 2.5em;
  line-height: 1.1;
}
h2,
h3,
h4,
p {
  margin: 0;
}
ul {
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
